extends layout

block content
    h3 Find a random recommended dish & recipe using the ingredient!
    form(action='http://localhost:3000/ps4/promise', method='POST')
        p
            | Enter ingredient(Using promise):
            input(type='text', name='query', value='')
            input(type='submit', value='Submit')

    form(action='http://localhost:3000/ps4/async', method='POST')
        p
            | Enter ingredient(Using async/await):
            input(type='text', name='query', value='')
            input(type='submit', value='Submit')

    form(action='http://localhost:3000/ps4/callback', method='POST')
        p
            | Enter ingredient(Using callback):
            input(type='text', name='query', value='')
            input(type='submit', value='Submit')